<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Index</display-name>
  <description>Index application</description>
  <servlet>
    <servlet-name>Roster</servlet-name>
    <servlet-class>com.clau.teamroaster.controllers.Roster</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Roster</servlet-name>
    <url-pattern>/</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>AddTeam</servlet-name>
    <servlet-class>com.clau.teamroaster.controllers.AddTeam</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddTeam</servlet-name>
    <url-pattern>/team</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>Team</servlet-name>
    <servlet-class>com.clau.teamroaster.controllers.Team</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Team</servlet-name>
    <url-pattern>/teams</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>AddPlayer</servlet-name>
    <servlet-class>com.clau.teamroaster.controllers.AddPlayer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddPlayer</servlet-name>
    <url-pattern>/addplayer</url-pattern>
  </servlet-mapping>
</web-app>